{% extends "layout.html" %}
{% block header %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/job_list.css') }}">

	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
		var baseurl = "{{ url_for('api.get_job_counts') }}";
		var reports = [
			{title: "Total Jobs By Status", action: draw_totals},
			{title: "Successful Jobs By User", action: draw_users},
			{title: "Successful Jobs By Month", action: draw_months},
			{title: "Successful Jobs By User/Month", action: draw_user_months},
			{title: "Successful Jobs By Genotype", action: draw_genos}
		];
		var table;
		function draw_table(data, columns) {
			cols = columns.map(function(x) {return {title: x, data: x}})
			if (table) {
				table.clear();
				table.destroy();
			}
			table = $("#results-table").empty().DataTable({
				data: data,
				columns: cols
			})
		}
		function fetch_and_draw(url) {
			$.ajax(url).done(function(data) {
				draw_table(data.data, data.header.columns)
			})
		}
		function draw_totals() {
			var url = baseurl + "?by=status";
			fetch_and_draw(url);
		}
		function draw_users() {
			var url = baseurl + "?by=user&filter=successful";
			fetch_and_draw(url);
		}
		function draw_months() {
			var url = baseurl + "?by=month&filter=successful";
			fetch_and_draw(url);
		}
		function draw_user_months() {
			var url = baseurl + "?by=month,user&filter=successful";
			fetch_and_draw(url);
		}
		function draw_genos() {
			var url = baseurl + "?by=geno&filter=successful";
			fetch_and_draw(url);
		}
		function init_report_selector() {
			var $rep = $("#reports");
			reports.forEach(function(x, i) {
				$rep.append($("<option>", {
					value: i,
					text: x.title
				}))
			})
			$rep.change(function() {
				var id = this.value;
				reports[id].action();
			})
			reports[0].action();
		}
		function init_page() {
			init_report_selector();
		}
		$(document).ready(function() {
			init_page();
		});
	</script>
{% endblock %}
{% block content %}

        <div class="section">
            <div class="section-title row">
				<div class="col-md-10">
					<h2>Counts</h2>
				</div>
				<div class="col-md-2">
				</div>
            </div>
			<div style="text-align: center">
				Choose Report: <select id="reports"></select>
			</div>
            <table id="results-table"></table>
        </div>

{% endblock %}
