{% extends "layout.html" %}
{% block header %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/job_list.css') }}">

	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
        var basejoburl = "{{ url_for('api.get_job_counts') }}";
        var baseuserurl = "{{ url_for('api.get_user_counts') }}";

		var endp = {
			job: "{{ url_for('api.get_job_counts') }}",
			user: "{{ url_for('api.get_user_counts') }}",
			auser: "{{ url_for('api.get_access_counts', what="users") }}",
			ajob: "{{ url_for('api.get_access_counts', what="jobs") }}",
			api: "{{ url_for('api.get_access_counts', what="api") }}"
		}
		var reports = [
			{title: "Total Jobs By Status", url: {base: "job", q: "by=status"}},
			{title: "Successful Jobs By User", url: {base: "job", q: "by=user&filter=successful"}},
			{title: "Successful Jobs By Month", url: {base: "job", q: "by=month&filter=successful"}},
			{title: "Successful Jobs By User/Month", url: {base: "job", q: "by=month,user&filter=successful"}},
			{title: "Successful Jobs By Genotype", url: {base: "job", q: "by=geno&filter=successful"}},
			{title: "Successful Jobs By Genotype/Month", url: {base: "job", q: "by=month,geno&filter=successful"}},
			{title: "New Users By Month", url: {base: "user", q: "by=creation-month&filter=can-analyze"}},
			{title: "New Users By Year", url: {base: "user", q: "by=creation-year&filter=can-analyze"}},
			{title: "Job Builders By Month", url: {base: "user", q: "by=job-month"}},
			{title: "Job Builders By Year", url: {base: "user", q: "by=job-year"}},
			{title: "Job Viewers By Month", url: {base: "auser", q: "by=month"}},
			{title: "Job Viewers By Year", url: {base: "auser", q: "by=year"}},
			{title: "Jobs Viewed By Month", url: {base: "ajob", q: "by=month"}},
			{title: "Jobs Viewed By Year", url: {base: "ajob", q: "by=year"}},
			{title: "API access By User", url: {base: "api", q: "by=user"}},
			{title: "API access By Month", url: {base: "api", q: "by=month"}},
			{title: "API access By User/Month", url: {base: "api", q: "by=month,user"}},
			{title: "Active Users (have logged in)", url: {base: "user", q: "filter=has-logged-in"}}
		];
		var table;
		function draw_table(data, columns) {
			var cols = columns.map(function(x) {return {title: x, data: x,
				render: $.fn.dataTable.render.text()}})
			if (table) {
				table.clear();
				table.destroy();
			}
			var order = [[0, 'asc']];
			if (cols[0].title=="month" || cols[0].title=="year") {
				order = [[0, 'desc']];
			}
			table = $("#results-table").empty().DataTable({
				data: data,
				columns: cols,
				order: order
			})
		}
		function fetch_and_draw(url) {
			$.ajax(url).done(function(data) {
				draw_table(data.data, data.header.columns)
			})
		}
		function init_report_selector() {
			var $rep = $("#reports");
			reports.forEach(function(x, i) {
				$rep.append($("<option>", {
					value: i,
					text: x.title
				}))
			})
			$rep.change(function() {
				var id = this.value;
				set_report(id)
			})
			set_report(0);
		}
		function set_report(index) {
			var report = reports[index];
			if (report.action) {
				report.action()
			} else if (report.url) {
				var url = endp[report.url.base]
				if (report.url.q) {
					url = url + "?" + report.url.q;
				}
				fetch_and_draw(url);
			}
		}
		function init_page() {
			init_report_selector();
		}
		$(document).ready(function() {
			init_page();
		});
	</script>
{% endblock %}
{% block content %}

        <div class="section">
            <div class="section-title row">
				<div class="col-md-10">
					<h2>Counts</h2>
				</div>
				<div class="col-md-2">
				</div>
            </div>
			<div style="text-align: center">
				Choose Report: <select id="reports"></select>
			</div>
            <table id="results-table"></table>
        </div>

{% endblock %}
