{% extends "layout.html" %}
{% block header %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/job_list.css') }}">

	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dt_api_interface.js') }}"></script>

<script type="text/javascript">
		var notice_form;
		function FormTemplate(template_id, dest_id) {

			var modal = document.getElementById(dest_id);
			var template = document.getElementById(template_id);
			var clone = template.content.cloneNode(true);
			var resolve = null;
			var reject = null;
			var inputs = {
				"message": clone.querySelector("#message"),
				"start_date": clone.querySelector("#start_date"),
				"end_date": clone.querySelector("#end_date")
			}
			var texts = {
				"title": clone.querySelector(".modal-title"), 
				"action": clone.querySelector(".form-action-go")
			}
			modal.appendChild(clone);
			$(modal).find("form").on("keyup keypress", function(e) {
				var keyCode = e.keyCode || e.which;
				if (keyCode === 13) { 
					e.preventDefault();
					return false;
				}
			});
			$(modal).on("shown.bs.modal", function() {
				$(modal).find("#message").focus();
			});

			$(modal).find(".form-action-go").on("click", (e) => {
				if(resolve) {
					resolve(this.get_values());
				}
			})
			$(modal).on("hidden.bs.modal", () => {
				if(reject) {
					reject(this.get_values());
				}
			});

			this.set_values = function(vals) {
				inputs.message.value = vals.message || '';
				inputs.start_date.value = vals.start_date || '';
				inputs.end_date.value = vals.end_date || '';
			}
			this.get_values = function() {
				return {"message": inputs.message.value,
					"start_date": inputs.start_date.value,
					"end_date": inputs.end_date.value
				}
			}
			this.set_text = function(vals) {
				texts.title.innerText = vals.title || "Notice"
				texts.action.innerText = vals.action || "Go"
			}
			this.return_promise = function(cb) {
				var promise =  new Promise((res, rej) => {
					resolve = res
					reject = rej
				}).then((x) => {
					if(cb) return cb(x);
					return x;
				})
				.then((x) => {
					$(modal).modal('hide');
				})
				.catch((x) => {
					// dismissed or error
				})
				.finally(() => {
					resolve = null;
					reject = null;
				})
				return promise
			}


			this.show_add_form = function(vals, cb) {
				this.set_text({"title": "New Notice", "action": "Add"});
				this.set_values(vals);
				$(modal).modal();
				return this.return_promise(cb)
			}
			this.show_update_form = function(vals, cb) {
				this.set_text({"title": "Update Notice", "action": "Update"});
				this.set_values(vals || {});
				$(modal).modal();
				return this.return_promise(cb)
			}
		}
		function show_edit_form(id, evt) {
			if (evt) evt.preventDefault();
			var get_url = "{{url_for("api.get_api_notice", notice_id="XXX")}}";
			get_url = get_url.replace("XXX", id);
			if (notice_form) {
				$.get(get_url).done(function(data) {
					notice_form.show_update_form(data, (data) => {
						var update_url = "{{ url_for("api.update_notice", notice_id="XXX") }}";
						update_url = update_url.replace("XXX", id);
						return $.post(update_url, data).done( function() {
							var table = $("#notice-table").DataTable();
							table.clearCache();
							table.ajax.reload();
						}).fail(function() {
							alert("Update failed");
						});
					})
				})
			}

		}
		function show_add_form() {
			if (notice_form) {
				var data = {"start_date": format_datetime(new Date())};
				notice_form.show_add_form(data, (data) => {
					var add_url = "{{ url_for("api.add_notice") }}";
					return $.post(add_url, data).done( function() {
						var table = $("#notice-table").DataTable();
						table.clearCache();
						table.ajax.reload();
					}).fail(function() {
						alert("Insert failed");
					});
				})
			}

		}
		function format_datetime(date) {
			var year = date.getFullYear(),
			month = date.getMonth() + 1, // months are zero indexed
			day = date.getDate(),
			hour = date.getHours(),
			minute = date.getMinutes(),
			second = date.getSeconds(),
			minuteFormatted = minute < 10 ? "0" + minute : minute,
			monthFormatted = month < 10 ? "0" + month : month
			return `${year}-${monthFormatted}-${day} 00:00:00`
		}
		function init_notice_table() {
			$("#notice-table").DataTable({
				serverSide: true,
				ajax: encoreApi( "{{url_for("api.get_api_notices_all")}}" ),
				order: [[2, "desc"]],
				columns: [
					{data: "id", title: "Notice ID"},
					{data: "message", title: "message", render: $.fn.dataTable.render.text(), className: "truncate"},
					{data: "start_date", title: "Start Date"},
					{data: "end_date", title: "End Date"},
					{title: "Edit", data: "id", render: function(data) {
						return "<a href='#' onclick='show_edit_form(" + data + ", event)'>Edit</a>" 
					}, orderable: false, className: "dt-body-center"}
				],
				stateSave: true
			})
		}
		function init_addform() {
			$("#new_notice_button").click(function(evt) {
				evt.preventDefault();
				show_add_form();
			});
			$("button.add-notice-save").click(function(evt) {
				evt.preventDefault();
				var add_notice_url = $(this).data("action");
				$.post(add_notice_url, data).done( function() {
					$("#notice-table").DataTable().ajax.reload();
					$("#addModal").modal("hide");
				}).fail(function() {
					alert("Insert failed");
				});
			});
		}
		function init_page() {
			notice_form = new FormTemplate("notice_form", "modalBox");
			init_notice_table();
			init_addform();
		}
		$(document).ready(function() {
			init_page();
		});
	</script>
	<style>
	.truncate {
	  max-width: 200px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	</style>
{% endblock %}
{% block content %}

        <div class="section">
            <div class="section-title row">
				<div class="col-md-10">
					<h2>Notices</h2>
				</div>
				<div class="col-md-2">
					<button class="btn btn-success" name="add_notice" id="new_notice_button">New Notice</button>
				</div>
            </div>
            <table id="notice-table"></table>
        </div>

		<div class="modal fade" id="modalBox" role="dialog">
		</div>

		<template id="notice_form">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add Notice</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizonal"> 
						<div class="form-group">
							<label class="col-sm-2 control-label" for="message">Message</label>
							<div class="col-sm-10"><textarea type="text" class="form-control" id="message"></textarea></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="start_date">Start</label>
							<div class="col-sm-10"><input type="text" class="form-control" id="start_date"/></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="end_date">End</label>
							<div class="col-sm-10"><input type="text" class="form-control" id="end_date"/></div>
						</div>
						&nbsp;
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-success form-action-go">Go</button>
					</div>
				</div>
			</div>
		</template>
{% endblock %}
