{% extends "layout.html" %}
{% block header %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/job_list.css') }}">

	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dt_api_interface.js') }}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#jobs-table").DataTable({
				serverSide: true,
				ajax: encoreApi( "{{url_for("api.get_jobs_all")}}" ),
				order: [[4, "desc"]],
				columns: [
					{data: "id", title: "Job ID"},
					{data: "name", title: "Job Name", render: $.fn.dataTable.render.text()},
					{data: "user_email", title: "User", render: $.fn.dataTable.render.text()},
					{data: "status", title: "Status"},
					{data: "creation_date", title: "Date Created"},
					{title: "Job", data: "id", render: function(data) {
						return "<a href='/jobs/" + data + "'>View</a>" 
					}, orderable: false},
					{title: "Logs", data: null, render: function(data) {
						return "<a href='/admin/log/" + data.id + "/out.log?tail=50'>output</a>" + 
						" - " + 
						"<a href='/admin/log/" + data.id + "/err.log?tail=50'>error</a>"	
					}, orderable: false}
				],
				createdRow: function(row, data, index) {
					if (!data.is_active) {
						$(row).addClass("inactive")
					}
				},
				stateSave: true
			})
		});
	</script>
	<style>
		tr.inactive {text-decoration: line-through;} 
	</style>
{% endblock %}
{% block content %}

        <div class="section">
            <div class="section-title">
                <h2>Jobs</h2>
            </div>
            <table id="jobs-table"></table>
        </div>

		<p style="text-align: center;color:#cccccc">Last git commit: {{ githash }}</p>

{% endblock %}
