{% extends "layout.html" %}
{% block header %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dt_api_interface.js') }}"></script>
	<style>
		code {display: block; margin-bottom: 10px}
	</style>

	<script type="text/javascript">
		function init() {
			$("#generate-token").click(function() {
				var url = $(this).data("action");
				var duration = $("#token-duration").val();
				if (url) {
					$.ajax({
						url: url,
						data: { duration: duration },
						type: "GET",
						success: function(response) {
							$("#token-output").val(response);
						},
						error: function(xhr) {
							console.log("error")

						}
					});
				}
			});
			$("#copy-token").click(function() {
				var token = $("#token-output").val();
				if (token) {
					var copyText = $("#token-output")[0];
					copyText.select();
					copyText.setSelectionRange(0, 99999);
					document.execCommand("copy");
				} else {
					alert("First press 'Generate Token' then click to copy to clipboard");
				}
			});
		}
		$(document).ready(init);
	</script>

{% endblock %}
{% block content %}
	<div class="section">
		<div class="section-title row">
			<div class="col-md-12">
				<h2>API Tokens</h2>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="col-md-12">
			<p>You can programatically access data on this website using an
			access token. Here you may request a token (they can either last
			for 4 hours or 7 days). Protect these tokens because they act as
			your login; anyone with your token can access your Encore account.</p>

			<p>
				Duration: <select id="token-duration">
					<option value="4hour">4 hours</option>
					<option value="7day">7 days</option>
				</select>
				<button class="btn btn-info" id="generate-token" data-action="{{url_for("auth.get_auth_token")}}">Generate Token</button>
				<input id="token-output" readonly style="width:80%" placeholder="(token will appear here)"></input>
				<button type="button" id="copy-token" class="btn btn-default" title="Copy token to clipboard"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
			</p>
		</div>
	</div>

	<div class="section">
		<div class="section-title row">
			<div class="col-md-12">
				<h3>API Examples</h3>

				<h4>Command Line</h4>
				<p>You can access a list of your jobs in JSON format via curl. Just
				replace "TOKEN" with the token you generated above</p>
				<code>
					curl -H "Authorization: Bearer TOKEN" {{ url_for("api.get_jobs", _external=True)}}
				</code>
				<p>If you have <a href="https://stedolan.github.io/jq/">jq</a> installed, you can easily turn this into a csv file</p>
				<code>
					curl -H "Authorization: Bearer TOKEN" {{ url_for("api.get_jobs", _external=True)}}  |  jq -r '.data[] | [.id, .name, .creation_date, .status] | @csv'
				</code>
				<p>You can also download data for a job via the API. You just need the JOBID which is the long
				alpha-numeric string that's found in the URL for the job. For example here is a curl
				command to download the results from a job. Again replace TOKEN with the generated
				token and replace JOBID with the corresponding job ID</p>
				<code>
					curl -OJ -H "Authorization: Bearer TOKEN" {{ url_for("user.get_job_output", job_id="JOBID", _external=True)}}
				</code>
				<h4>Using R</h4>
				<p>There is an <a href="https://github.com/statgen/encore-client-r">R package</a> that you can use
				  to interact with the Encore API. You can install it with </p>
				<code>
					remotes::install_github("statgen/encore-client-r")
				</code>
				You then need to load the library and set your API access token
				<code>
					library(encore) <br/>
					set_access_token("TOKEN")
				</code>
				Here's an example of finding your most recent job, recreating the Manhattan plot in ggplot2 and
				downloading the raw results file
				<code>
					last_job &lt;- get_jobs(limit=1) <br/>
					plot_manhattab(last_job) <br/>
					download_job_output(last_job)
				</code>
				See the help files for these functions in the package for more details
				</div>
		</div>
	</div>
{% endblock %}
