{% extends "layout.html" %}
{% block header %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dt_api_interface.js') }}"></script>
	<style>
		code {display: block; margin-bottom: 10px}
	</style>

	<script type="text/javascript">
		function init() {
			$("#generate-token").click(function() {
				var url = $(this).data("action");
				var duration = $("#token-duration").val();
				if (url) {
					$.ajax({
						url: url,
						data: { duration: duration },
						type: "GET",
						success: function(response) {
							$("#token-output").val(response);
						},
						error: function(xhr) {
							console.log("error")

						}
					});
				}
			});
			$("#copy-token").click(function() {
			    var copyText = $("#token-output")[0];
				copyText.select();
				copyText.setSelectionRange(0, 99999);
				document.execCommand("copy");
			});
		}
		$(document).ready(init);
	</script>

{% endblock %}
{% block content %}
	<div class="section">
		<div class="section-title row">
			<div class="col-md-12">
				<h2>Api Tokens</h2>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="col-md-12">
			<p>You can programatically access data on this website using an
			access token. Here you may request a token (they can either last
			for 4 hours or 7 days). Protect these tokens because they act as
			your login; anyone with your token can access your Encore account.</p>

			<p>
				Duration: <select id="token-duration">
					<option value="4hour">4 hours</option>
					<option value="7day">7 days</option>
				</select>
				<button class="btn btn-info" id="generate-token" data-action="{{url_for("auth.get_auth_token")}}">Generate Token</button>
				<input id="token-output" readonly style="width:80%" placeholder="(token will appear here)"></input>
				<button type="button" id="copy-token" class="btn btn-default"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
			</p>
		</div>
	</div>

	<div class="section">
		<div class="section-title row">
			<div class="col-md-12">
				<h3>API Examples</h3>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="col-md-12">
			<h4>Listing jobs</h4>
			<p>You can access a list of your jobs in JSON format via curl. Just
			replace "TOKEN" with the token you generated above</p>
			<code>
			curl -H "Authorization: Bearer TOKEN" {{ url_for("api.get_jobs", _external=True)}} 
			</code>
			<p>If you have <a href="https://stedolan.github.io/jq/">jq</a> installed, you can easily turn this into a csv file</p>
			<code>
			curl -H "Authorization: Bearer TOKEN" {{ url_for("api.get_jobs", _external=True)}}  |  jq -r '.data[] | [.id, .name, .creation_date, .status] | @csv'
			</code>
			<p>You could also access the data in R using the <a href="https://httr.r-lib.org/">httr</a> library</p>
			<code>
			library(httr) <br>
			token &lt;- "TOKEN" <br>
			xx &lt; GET("{{ url_for("api.get_jobs", _external=True)}}", <br>
		    &nbsp;&nbsp;add_headers("Authorization"=paste("Bearer", token))) <br>
		    dd &lt;- dplyr::bind_rows(content(xx)$data)
			</code>
			<h4>Downloading data</h4>
			<p>You can also download data for a job via the API. You just need the JOBID which is the long
			alpha-numeric string that's found in the URL for the job. For example here is a curl
			command to download the results from a job. Again replace TOKEN with the generated
			token and replace JOBID with the corresponding job ID</p>
			<code>
			curl -OJ -H "Authorization: Bearer TOKEN" {{ url_for("user.get_job_output", job_id="JOBID", _external=True)}} 
			</code> 
			<p>In R we can write a helper function to write the file directly to disk</p>
			<code>
			save_job_output &lt;- function(job_id, token, output_name=NULL, ...) { <br />
			&nbsp;&nbsp;api_url &lt;- sub("JOBID", job_id, "{{ url_for("user.get_job_output", job_id="JOBID", _external=True) }}") <br />
			&nbsp;&nbsp;if (is.null(output_name)) { <br />
			&nbsp;&nbsp;&nbsp;&nbsp;xx &lt;- HEAD(api_url, <br />
			&nbsp;&nbsp;&nbsp;&nbsp;add_headers("Authorization"=paste("Bearer", token))) <br />
			&nbsp;&nbsp;&nbsp;&nbsp;output_name = sub(".*filename=", "", headers(xx)$`content-disposition`) <br />
			&nbsp;&nbsp;} <br />
			&nbsp;&nbsp;GET(api_url, <br />
			&nbsp;&nbsp;&nbsp;&nbsp;add_headers("Authorization"=paste("Bearer", token)),  <br />
			&nbsp;&nbsp;&nbsp;&nbsp;write_disk(output_name), ...) <br />
			} <br />
			save_job_output(job_id="JOBID", token="TOKEN")
			</code>
		</div>
	</div>
{% endblock %}
