{% extends "layout.html" %}
{% block header %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/job_list.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/job_list.js') }}"></script>

	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dt_api_interface.js') }}"></script>

	<style>
		.home-nav-list li {padding: 10px 0}
		#carousel h3 {
			color: rgb(1, 45, 107);
			font-weight: bold;
			font-size: .75em;
			margin: 5px 10px;
		}
	</style>
	<script type="text/javascript">
		function init_job_table(url) {
			$("#jobs-table").DataTable({
				serverSide: true,
				ajax: encoreApi( url ),
				order: [[1, "desc"]],
				columns: [
					{data: "name", title: "Job Name", render: $.fn.dataTable.render.text()},
					{data: "creation_date", title: "Date Created"},
					{data: "status", title: "Status"},
					{title: "Job", data: "id", render: function(data) {
						return "<a href='/jobs/" + data + "'>View Job</a>"
					}, orderable: false, className: "dt-body-center"}
				]
			})
		};
		$(document).ready(function() {
			init_job_table("{{ url_for("api.get_jobs") }}");
			init_vcf_stats("{{ url_for("api.get_genotypes") }}");
		});
	</script>

{% endblock %}
{% block content %}
		<div class="section row">
			<div class="col-sm-6">
				<h2>Welcome</h2>
				{% if current_user.can_analyze %}
				<ul class="home-nav-list">
					<li><a href="{{ url_for("user.get_pheno_upload") }}">Upload New Phenotype File</a></li>
					{% if phenos %}
					<li><a href="{{ url_for("user.get_model_build") }}">Create New Job from Existing Phenotypes</a></li>
					{% endif %}
				</ul>
				{% else %}
				<p>Browse available jobs below</p>
				{% endif %}
			</div>
			{% if notices %}
			<div id="carousel" class="col-sm-6" style="text-align: center">
				{{ notices[0].message}}
			</div>
			{% else %} 
			<div id="carousel" class="col-sm-6 vcf-stats" style="text-align: center">
				<h3 class="name">Dataset</h3>
				<table>
					<tr class="genotype_count">
						<td>
							0 
						</td>
						<td>
							&nbsp;Genotypes
						</td>
					</tr>
					<tr class="record_count">
						<td>
							0
						</td>
						<td>
							&nbsp;Markers
						</td>
					</tr>
					<tr class="sample_count">
						<td>
							0
						</td>
						<td>
							&nbsp;Individuals
						</td>
					</tr>
				</table>
				<b style="color: rgb(1, 45, 107);">Ready For Analysis!</b>
			</div>
			{% endif %}
		</div>

		<div class="section">
			<div class="section-title">
				<h2>Jobs</h2>
			</div>
			<table id="jobs-table" width="100%"></table>
		</div>
{% endblock %}
