{% extends "layout.html" %}
{% block header %}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/job_details.css') }}">

    <link rel="stylesheet" href="//statgen.github.io/locuszoom/versions/0.3.10/locuszoom.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js"></script>

	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/ideogram.js') }}"></script>
	
    <script type="text/javascript" src="{{ url_for('static', filename='js/plot.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/job_details.js') }}"></script>
	<script type="text/javascript">
		job_id = "{{ job.job_id }}"
		job_status = "{{ job.status }}"
		job_can_edit = {{ job.can_edit|default(False)|tojson }}
		job_is_active = {{ job.is_active|default(False)|tojson }}
		genome_build = "{{ job.details.genome_build or job.details.genotype.build }}"
		job_api_url = "{{url_for("api.get_job", job_id=job.job_id) }}"
		zoom_api_url = "{{ url_for("api.get_job_zoom", job_id = job.job_id) }}"
		$(document).ready(function() {
			init_page();
		});
		function init_page() {
			init_job_tabs(job_id);
			init_job_resubmit_button(job_id);
			init_job_cancel_button(job_id);
			init_job_delete_button(job_id);
			init_job_share_button(job_id);
			if (job_status=="succeeded") {
				init_job_lookup(job_id);
				init_manhattan(job_id);
				init_qqplot(job_id);
				init_tophits(job_id);
			}
			if (job_can_edit && job_is_active) {
				init_editform(job_id, job_api_url);
			}
			if (job_status=="queued") {
				init_queue_info();
			}
			if (job_status=="started") {
				init_chunk_progress(job_id);
			}
		};
	</script>
	<style>
		svg .variant_points a {cursor: pointer}
		button.remove:hover { color: red; }
		.label-edit {color: #c4c4c4; font-size:65%; }
		.label-edit:hover {color: black; backgroud-color: #c4c4c4; }
		a.edit-job-modal {text-decoration: none; color:inherit; cursor: pointer}
		.job-actions button {display: block; padding: 1px 8px; margin: 3px auto; width: 8em;}
	</style>

{% endblock %}
{% macro detailtable(job) -%}
	<table id="job_details_table">
		<tr>
			<th>Job Name</th>
			<td>{{ job.name }}</td>
		</tr>
		{% if job.details %}
		{% if job.details.response %}
		<tr>
			<th>Response</th>
			<td>{{ job.details["response_desc"] or job.details["response"] }}</td>
		</tr>
		{% endif %}
		{% if job.details.covariates %}
		<tr>
			<th>Covariates</th>
			<td>{{ ", ".join(job.details.get("covariates",[]) + job.details.get("genopheno",[]) ) }}</td>
		</tr>
		{% endif %}
		<tr>
			<th>Model Type</th>
			<td>{{ job.details.get("type","?") }}</td>
		</tr>
		{% if job.details.phenotype %}
		<tr>
			<th>Phenotype</th>
			<td><a href={{url_for("user.get_pheno", pheno_id=job.details.phenotype.pheno_id) }}>
			{{ job.details.phenotype.name }}</a></td>
		</tr>
		{% endif %}
		{% if job.details.genotype %}
		<tr>
			<th>Genotype</th>
			<td>{{ job.details.genotype.name }} ( {{ job.details.genotype.build }} )</td>
		</tr>
		{% endif %}
		{% endif %}
		<tr>
			<th>Status</th>
			<td>{{ job.status }}</td>
		</tr>
		{% if job.error_message %}
		<tr>
			<th>Error Message</th>
			<td>{{ job.error_message }}</td>
		</tr>
		{% endif %}
		<tr>
			<th>Date Created</th>
			<td>{{ job.creation_date }}</td>
		</tr>
		<tr>
			<th>Last Updated</th>
			<td>{{ job.modified_date }}</td>
		</tr>
	</table>
{%- endmacro %}
{% block content %}
        <div class="section">
            <div class="section-title row">
				<div class="col-md-10">
					<h2 id="job_name_title">{{ job.name }}</h2>
				</div>
				<div class="col-md-2 job-actions">
					{% if job.can_edit %}
						<button class="btn btn-success" name="resubmit_job" 
							data-link="{{ url_for("user.get_model_build", like=job.job_id) }}">
							New Like This</button>
						{%if job.is_active %}
							<button class="btn btn-info" name="share_job" 
								data-link="{{ url_for("user.get_job_share_page", job_id=job.job_id) }}">
								Share {% if job.users|length>1 %}({{ job.users | length -1}}){% endif %}</button>
						{% endif %}
						{% if job.status == "queued" or job.status == "started" %}
							<button class="btn btn-danger" name="cancel_job"
								data-action="{{ url_for("api.cancel_job", job_id=job.job_id) }}">
							Cancel Job</button>
						{% else %}
							{%if job.is_active %}
							<button class="btn btn-danger" name="delete_job"
								data-action="{{ url_for("api.retire_job", job_id=job.job_id) }}">
								Delete</button>
							{%endif%} 
						{% endif %}
					{% endif %}
				</div>
            </div>
        </div>


        {% if job.status == "succeeded"  and job.is_active>0 %}

        <div class="section">

            <ul class="tabs">
                <li class="active" rel="tab1">Manhattan</li>
                <li rel="tab2">QQPlot</li>
                <li rel="tab3">Top Hits</li>
                <li rel="tab4">Lookups</li>
                <li rel="tab5">Details</li>
            </ul>
            <div class="tab-container">

                <div id="tab1" class="tab-content"> </div>
                <div id="tab2" class="tab-content"> </div>
				<div id="tab3" class="tab-content">
					<table id="tophits" class="display"></table>
				</div>
                <div id="tab4" class="tab-content">
					<form id="lookup_form"><label for="lookup">Lookup Result:</label> 
					<input id="lookup" size="30" type="text"/> 
					<button>Find</button>
					 (beta test: enter "chr:position", rs-name or gene name)
					</form>
				</div>
				<div id="tab5" class="tab-content">
					{{ detailtable(job) }}
				</div>
            </div>
        </div>
		{% if job.output_files %}
			Download:  {% for file in job.output_files %}
				<form style="display: inline" action="{{ url_for("user.get_job_output_file", job_id= job.job_id, file_name=file.path) }}">
				<button>{{file.name}} [{{file.size | filesizeformat}}]</button>
				</form>
			{% endfor %}
		{% endif %}

		{% else %}

			<div id="progress"></div>
			<div id="queue_info" data-url="{{ url_for('api.get_queue_status', job_id=job.job_id) }}"></div>
			{% if job.is_active<1 %} 
				<h3 style="text-align:center; padding: 10px;">This job has been deleted</h3>
			{% endif %}
			{{ detailtable(job) }}

        {% endif %}

		{% if job.can_edit %}
		<div class="modal fade" id="editModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Edit Job Details</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizonal">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="job_name">Name</label>
							<div class="col-sm-10"><input type="text" class="form-control" id="job_name"/></div>
						</div>
						&nbsp;
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-success edit-job-save" >Save</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="deleteModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Delete Job</h4>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete these results
						from the server? This action cannot be undone.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-danger delete-job">Delete</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="cancelModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Terminate Job</h4>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to stop this job from 
						running?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-danger cancel-job">Terminate</button>
					</div>
				</div>
			</div>
		</div>
        {% endif %}
{% endblock %}
