{% set backlink = "/" %}
{% extends "layout.html" %}
{% block header%}
    <script type="text/javascript" src="{{ url_for('static', filename='js/file_upload.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/file_upload.css') }}">

	<script type="text/javascript">
		$(function() {
			var um = new UploadManager("form.ubox");
			um.onupload = function(resp) {
				showPhenoResult(resp)
			}
			function showPhenoResult(pheno) {
				var $modal = $("#messageModal")
				if (pheno.existing)  {
					$modal.find(".modal-message").text("This data has been previously uploaded as " +
					pheno.name + " on " + pheno.creation_date + ".")
				} else if (pheno.errors) {
					$modal.find(".modal-message").text(pheno.errors.map(function(x) {return(x.desc)}).join(","))
				} else {
					$modal.find(".modal-message").text("Phenotype successfully uploaded")
				}
				function linkButton($button, url) {
					if (url) {
						$button.click(function(evt) {
							evt.preventDefault()
							document.location.href = url;
						});
					} else {
						$button.hide();
					}

				}
				linkButton($modal.find("button.model-build"), pheno.url_model);
				linkButton($modal.find("button.pheno-review"), pheno.url_view);
				$modal.modal();
			};
		})
	</script>
{% endblock %}
{% block content %}
	<h1>Upload phenotype file...</h1>
        <div class="section">
            <form class="ubox vflex" method="post" action="{{url_for("api.post_pheno")}}" enctype="multipart/form-data">
                <div class="ubox-progress">&nbsp;</div>
                <br/>
				<svg class="ubox-icon" xmlns="http://www.w3.org/2000/svg" width="50" height="43" viewBox="0 0 50 43"><path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z"></path></svg>
                <input style="display: none" type="file" name="pheno_file" id="ubox_file_input" />
                <label for="ubox_file_input"><strong>Choose phenotype file</strong><span class="ubox-dragndrop"> or drag it here</span>.</label>
                <button class="ubox-button" type="button" name="upload" style="display: none;">Create New Job</button>
                <br/>
                <!--<div class="ubox-uploading">Uploading&hellip;</div>
                <div class="ubox-success">Done!</div>
                <div class="ubox-error">Error! <span></span>.</div>-->

            </form>
        </div>
		<div class="section" style="margin:auto; max-width:400px;">
			<p>Your phenotype file must satisfy the following criteria</p>
			<ul>
				<li>It must be a CSV file or a tab-delimited plain text file</li>
				<li>Each row must contain the same number of fields</li>
				<li>Column headers should be included on the first row</li>
				<li>It must have at least two columns: the sample ID 
					used for sequencing and phenotype values</li>
			</ul>
		</div>
		<div class="modal fade" id="messageModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Phenotype Upload</h4>
					</div>
					<div class="modal-body">
					<p class="modal-message"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pheno-review">Review phenotypes</button>
						<button type="button" class="btn btn-success model-build">Build model</button>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
