#replace encore.url with your URL (don't include http(s))
#replace encore-path with path to repo folder

<VirtualHost *:80>
    ServerAdmin webmaster@encore.url
    ServerName encore.url
    Redirect permanent / https://encore.url/
    ErrorLog "/var/log/apache2/encore.url-error.log"
    CustomLog "/var/log/apache2/encore.url-access.log" common
</VirtualHost>

<VirtualHost *:443>
    ServerAdmin webmaster@encore.url
    DocumentRoot "encore-path/encore"
    ServerName encore.url
    ErrorLog "/var/log/apache2/encore.url-error.log"
    CustomLog "/var/log/apache2/encore.url-access.log" common

	## optionally, enable XSendFile with
	##    sudo a2enmod xsendfile
	#XSendFile on
	#XSendFilePath /path/to/jobs/folder/for/more/efficient/download

    SSLEngine on

    SSLCertificateFile    /etc/ssl/certs/encore.url.cert
    SSLCertificateKeyFile /etc/ssl/private/encore.url.key

    #Removes stack underflow error
    WSGIApplicationGroup %{GLOBAL}

    WSGIDaemonProcess encore.url processes=1 threads=1 user=encore group=encore home=encore-path
    WSGIProcessGroup encore.url
    WSGIScriptAlias / /encore-path/encore.wsgi
	WSGIPassAuthorization On

    <Location /server-info>
      SetHandler server-info
      Order deny,allow
      Deny from all
    </Location>

    <Directory /encore-path>
        Require all granted
    </Directory>

    <Files /encore-path/encore.wsgi>
        Require all granted
    </Files>
</VirtualHost>
