#! /usr/bin/python3
# Uncomment and replace encore-path with path to repo folder
import os, sys

PROJECT_DIR = os.path.dirname(os.path.abspath(__file__))
# PROJECT_DIR = 'encore-path'

def activate_venv(__file__):
	old_os_path = os.environ.get('PATH', '')
	os.environ['PATH'] = os.path.dirname(os.path.abspath(__file__)) + os.pathsep + old_os_path
	base = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))
	if sys.platform == 'win32':
		site_packages = os.path.join(base, 'Lib', 'site-packages')
	else:
		site_packages = os.path.join(base, 'lib', 'python%s' % sys.version[:3], 'site-packages')
	prev_sys_path = list(sys.path)
	import site
	site.addsitedir(site_packages)
	sys.real_prefix = sys.prefix
	sys.prefix = base
	# Move the added items to the front of the path:
	new_sys_path = []
	for item in list(sys.path):
		if item not in prev_sys_path:
			new_sys_path.append(item)
			sys.path.remove(item)
	sys.path[:0] = new_sys_path

activate_this = os.path.join(PROJECT_DIR, 'venv', 'bin', 'activate')
activate_venv(activate_this)
sys.path.insert(0, PROJECT_DIR)

from encore import create_app
application = create_app(os.path.join(PROJECT_DIR, "flask_config.py"))
