#replace encore-path with path to repo folder
import os, sys

PROJECT_DIR = 'encore-path'

activate_this = os.path.join(PROJECT_DIR, 'venv', 'bin', 'activate_this.py')
execfile(activate_this, dict(__file__=activate_this))
sys.path.insert(0, PROJECT_DIR)

from encore import create_app
application = create_app(os.path.join(PROJECT_DIR, "flask_config.py"))
