## The following requirements were added by pip freeze:
atomicwrites
attrs
blist
certifi
chardet
Click
Flask==2.1.3
Flask-Login
idna
itsdangerous
Jinja2
Markdown
MarkupSafe
more-itertools
mysqlclient
numpy
pathlib2
pluggy
py
PyJWT
pytabix
pytest
rauth
requests
scipy
six
urllib3
Werkzeug==2.1.2
pyyaml
