{% extends "layout.html" %}
{% block header %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/job_list.css') }}">

	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
		$(document).ready(function() {
			$("#jobs-table").DataTable({
				ajax: {url: "/api/jobs-all", dataSrc: ""},
				order: [[3, "desc"]],
				columns: [
					{data: "id", title: "Job ID"},
					{data: "name", title: "Job Name"},
					{data: "user_email", title: "User"},
					{data: "status", title: "Status"},
					{data: "modified_date", title: "Late Updated"},
					{title: "Logs", data: null, render: function(data) {
						return "<a href='/admin/log/" + data.id + "/out.log?tail=50'>output</a>" + 
						" - " + 
						"<a href='/admin/log/" + data.id + "/err.log?tail=50'>error</a>"	
					}, orderable: false},
					{title: "Job", data: "id", render: function(data) {
						return "<a href='/jobs/" + data + "'>View</a>" 
					}, orderable: false}
				]
			})
		});
	</script>
{% endblock %}
{% block content %}

        <div class="section">
            <div class="section-title">
                <h2>Jobs</h2>
            </div>
            <table id="jobs-table"></table>
        </div>

		<div id="prog"></div>
{% endblock %}
