<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/dashboard.js"></script>
</head>
<body>
    <div id="header">
        <div>GASP</div>
    </div>
    <div id="content">
        <div class="section">
            <div class="section-title">
                <h2>Active Jobs</h2>
                <button id="create_job_button">Create Job</button>
            </div>
            <div class="section-row">
                <span>There are no running jobs.</span>
            </div>
        </div>

        <div class="section">
            <div class="section-title">
                <h2>Finished Jobs</h2>
            </div>
            <div class="section-row">
                There are no finished jobs.
            </div>
        </div>
    </div>

    <div class="overlay" id="upload_overlay" style="display:none">
        <form name="ped_upload_form">
            <div style="height: 70%">
                <input type="file" name="ped_file" accept=".ped" />
            </div>
            <div style="height: 20%">
                <button type="submit">Upload PED file</button>
            </div>

            <progress name="ped_file_upload_progress" value="0" max="100" style="height: 10%"></progress>


        </form>
    </div>

    <div id="footer">

    </div>
</body>
</html>