{% extends "layout.html" %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/job_list.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/job_list.js') }}"></script>

	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

	<style>
		.home-nav-list li {padding: 10px 0}
	</style>
	<script type="text/javascript">
		function init_job_table() {
			$("#jobs-table").DataTable({
				ajax: {url: "/api/jobs", dataSrc: ""},
				//order: [[2, "desc"]],
				columns: [
					{data: "name", title: "Job Name"},
					{data: "creation_date", title: "Date Created"},
					{data: "status", title: "Status"},
					{title: "Job", data: "id", render: function(data) {
						return "<a href='/jobs/" + data + "'>View</a>" 
					}, orderable: false}
				]
			})
		};
		$(document).ready(function() {
			init_job_table();
			init_vcf_stats();
		});
	</script>

{% endblock %}
{% block content %}
        <div class="section row">
			<div class="col-sm-6">
				<h2>Welcome</h2>
				<ul class="home-nav-list">
					<li><a href="{{ url_for("get_pheno_upload") }}">Upload New Phenotype File</a></li>
					<li><a href="{{ url_for("get_model_build") }}">Create New Job from Existing Phenotypes</a></li>
				</ul>
			</div>
            <div id="carousel" class="col-sm-6" style="text-align: center">
                <table>
                    <tr class="genotype-stats">
                        <td>
                            0
                        </td>
                        <td>
                            &nbsp;Genotypes
                        </td>
                    </tr>
                    <tr class="marker-stats">
                        <td>
                            0
                        </td>
                        <td>
                            &nbsp;Markers
                        </td>
                    </tr>
                    <tr class="sample-stats">
                        <td>
                            0
                        </td>
                        <td>
                            &nbsp;Individuals
                        </td>
                    </tr>
                </table>
                <b style="color: rgb(1, 45, 107);">Ready For Analysis!</b>
            </div>
        </div>

        <br/>


        <div class="section">
            <div class="section-title">
                <h2>Jobs</h2>
            </div>
            <table id="jobs-table"></table>
        </div>
{% endblock %}
