{% set backlink = "/jobs/" + job.job_id %}
{% extends "layout.html" %}
{% block header %}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/job_details.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/listblock.js') }}"></script>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.js"></script>

	<script type="text/javascript">
		var job_id = "{{ job.job_id }}";
		var sharelist = {{ job.users|tojson() }};
		var cancel_url =  "{{ url_for("user.get_job", job_id=job.job_id)  }}";
		var owner_email = sharelist.filter(function(x) {return x.role == "owner";}).map(function(x) {return x.email;});
		var current_list = sharelist.filter(function(x) {return x.role != "owner";}).map(function(x) {return x.email;});
		// from http://www.regular-expressions.info/email.html ...
		var is_emailish = /^[A-Z0-9][A-Z0-9._%+-]{0,63}@(?:(?=[A-Z0-9-]{1,63}\.)[A-Z0-9]+(?:-[A-Z0-9]+)*\.){1,8}[A-Z]{2,63}$/i;

		function findDiffs(new_list, prev_list) {
			new_list = new_list || $("#shares").val() || [];
			prev_list = prev_list || current_list  || [];
			var to_add = [];
			var to_drop = [];
			new_list.forEach(function(x) {
				var idx = prev_list.indexOf(x);
				if (idx <0) {
					to_add.push(x)
				}
			});
			prev_list.forEach(function(x) {
				var idx = new_list.indexOf(x);
				if (idx <0) {
					to_drop.push(x);
				}
			});
			return {add: to_add, drop: to_drop};
		};

		function validateForm(form) {
			var errors = [];
			var $input = form.find("#shares");
			var unadded = $input.data("rawinput").val();
			if (unadded.length) {
				$input.data("addbutton").click();
			};
			var diffs = findDiffs();
			diffs.add.forEach(function(x) {
				if (!is_emailish.test(x)) {
					errors.push("'" + x + "' does not appear to be a valid e-mail address");
				}
			});
			return errors;
		};

		function submitShares(e) {
			e.preventDefault();
			var form = $("#share-form");
			var formErrors = validateForm(form);
			if (formErrors.length) {
				alert("Form Error:\n" + formErrors[0]);
				return false;
			}
			form = form[0];
			var diff = findDiffs();
			var xhr = new XMLHttpRequest();
			xhr.addEventListener("load", function () {
				var resp;
				if (xhr.status >= 200 && xhr.status < 300) {
					try {
						resp = JSON.parse(xhr.responseText);
						if (resp.url_job) {
							window.location = resp.url_job;
						} else {
							window.location = "/";
						}
					} catch (ex) {
						console.warn(ex);
					}
				} else {
					var message;
					try {
						resp = JSON.parse(xhr.responseText);
						message = resp.error;
					} catch (ex) {
						message = xhr.responseText || xhr.statusText;
					}
					alert(message);
				}
			}.bind(this), false);
			xhr.open("POST", form.action);
			var fd = new FormData();
			fd.append("add", diff.add);
			fd.append("drop", diff.drop);
			xhr.send(fd);
		}

		function cancelChanges() {
			var diff = findDiffs();
			if (diff.add.length || diff.drop.length) {
				var ok = confirm("Are you sure you want to cancel these changes?")
				if (!ok) {
					return false;
				}
			};
			window.location = cancel_url;
		}

		$(function() {
			$("#shares").listblock({items: current_list});
			$("#owner-email").text(owner_email);
			$("#share-form").on("submit", submitShares);
			$("#share-form").find(".btn-secondary").on("click", cancelChanges);
		})

	</script>
	<style>
		form div {width:500px}
		.chklabel {font-weight: normal;}
		label .radio-title {display: block; font-weight: bold;}
		label .radio-desc {display: block; padding: 5px 0}

		.listblock .glyphicon-plus-sign {color: white}
		.listblock button {margin-left: .5em; background-color: #449d44; border:0}
		.listblock input {
			width: 90% 
		}
		.listblock ul {
			padding: 0;
		}
		.listblock li {
			border-radius: .5em;
			list-style: none;
			height: 0;
			line-height: 2em;
			margin: 2px 0;
			padding: 0 0.5em;
			overflow: hidden;
			border: 1px solid #bbb;
		}
		.listblock li {
			transition: all 0.4s ease-out;
			opacity: 0;
		}
		.listblock li.show {
			height: 2em;
			opacity: 1;
		}
		.listblock li.focus {
			background: #ffff80;
		}
		.listblock li a {
			padding: 0 .6em;
		}
		.listblock li:hover {
			border-color: black;
		}
		.listblock li .glyphicon-minus-sign {
			transition: all 0.4s ease-out;
			color: #dddddd;
		}
		.listblock li:hover .glyphicon-minus-sign {
			opacity: 1;
			color: red;
		}
	</style>
{% endblock %}
{% block content %}

	<h1>Share with collaborators</h1>
        <div class="section">
            <form class="form-horizontal vflex" method="post" action="{{ url_for("api.share_job", job_id=job.job_id) }}" id="share-form">
				<div class="form-group">
					<label class="control-label col-xs-2">Owner</label>
					<div class="col-xs-10" style="padding-top: 7px"> <span id="owner-email"></span> </div>
				</div>
				<div class="form-group">
					<label for="phenotype" class="control-label col-xs-2">E-mail</label>
					<div class="col-xs-10">
						<select id="shares" name="shares" class="form-control" multiple="multiple"></select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-2 col-xs-10">
						<button class="btn-success">Update List</button>
						<button class="btn-secondary">Cancel</button>
					</div>
				</div>
			</form>
		</div>
{% endblock %}
