<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GASP | Dashboard</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/job_list.css">

    <script id="table_row_tmpl" type="x-tmpl">
        <tr>
            <th>Job Name</th>
            <th>Date Created</th>
            <th>Status</th>
        </tr>
        <% jobs.forEach(function(j) { %>
        <tr data-id="<%= j.id; %>">
            <td><%= j.name; %></td>
            <td><%= j.creation_date; %></td>
            <td><%= j.status; %></td>
        </tr>
        <% }); %>
        <% if (jobs.length === 0) { %>
        <tr>
            <td colspan="4" align="center">No jobs were found.</td>
        </tr>
        <% } %>
    </script>

    <script id="empty_table_row_tmpl" type="x-tmpl">
        <tr>
            <td colspan="3" align="center"></td>
        </tr>
    </script>

    <script type="text/javascript" src="/static/js/ejs.js"></script>
    <script type="text/javascript" src="/static/js/job_list.js"></script>
</head>
<body>
    <div id="header">
        <div>GASP</div>
    </div>
    <div id="content">

        <div class="section">
            <div class="section-title">
                <h2>Jobs</h2>
                <button id="create_job_button">+</button>
            </div>
            <table id="jobs_table">
                <tr>
                    <th>Job Name</th>
                    <th>Date Created</th>
                    <th>Status</th>
                </tr>
                <!--<tr>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>-->
                <tr>
                    <td colspan="3" align="center">Loading ...</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="overlay" id="upload_overlay" style="display:none">
        <form name="ped_upload_form" class="vflex">
            <br>
            <input style="display: none" type="file" name="ped_file" accept=".ped" />
            <div class="hflex">
                <label>PED File:</label>
                <input type="text" readonly name="ped_filename" placeholder="Select PED file ..."/>
            </div>
            <div class="hflex">
                <label>Job Name:</label>
                <input type="text" name="job_name" />
            </div>
            <br/>
            <div class="hflex">
                <button type="submit">Upload PED file</button>
            </div>
            <div class="hflex">
                <progress name="ped_file_upload_progress" value="0" max="100"></progress>
            </div>
        </form>
    </div>

    <div id="footer">

    </div>
</body>
</html>