{% set backlink = "/jobs/" + job.job_id %}
{% extends "layout.html" %}
{% block header %}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/job_details.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/d3.box.css') }}">

    <script src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.box.js') }}"></script>

	<style>
		.box .outlier {
			fill: #000;
			stroke-width: 0; 
		}
		.box .qtip {
			font-size: 12px;
		}
		.spark-line {
			margin: 0 5px;
		}
		.spark-line path {
			stroke: #666666;
			fill: #cccccc;
		}
		.spark-line .value { stroke: red; stroke-width: 2}
		.spark-line .tick { stroke: white; }
	</style>

	<script type="text/javascript">
		job_id = "{{ job.job_id }}";
		variant_id = "{{ variant_id }}";
		api_pheno_url = "{{ url_for("get_api_job_variant_pheno", job_id = job.job_id, 
			chrom = chrom, pos=pos, variant_id=variant_id)  | safe}}"
		api_assoc_url = "{{ url_for("get_api_job_zoom", job_id=job.job_id, 
			chrom = chrom, start_pos=pos, end_pos=pos+1, variant_id=variant_id) | safe }}"

		function with_ordinal_suffix(i) {
			var j = i % 10,
				k = i % 100;
			if (j == 1 && k != 11) {
				return i + "st";
			}
			if (j == 2 && k != 12) {
				return i + "nd";
			}
			if (j == 3 && k != 13) {
				return i + "rd";
			}
			return i + "th";
		}
		function csstranslate(x, y) { return "translate(" + x + "," + y + ")"; }
		function cssrotate(x) { return "rotate(" + x + ")"; }
		function draw_box_plot(data) {
			var margin = {top: 10, right:50, bottom:50, left:50};
			var width = 500 - margin.left - margin.right;
			var height = 350 - margin.top - margin.bottom;

			var plotdata = [];

			var min=Infinity, max=-Infinity, geno_count=0;
			$.each(data.data, function(geno, stats) {
				if (stats.min<min) {min=stats.min;}
				if (stats.max>max) {max=stats.max;}
				geno_count += 1;
				plotdata.push({g: geno + " (n=" + stats.n + ")", 
					stats: stats});
			})

			var chart = d3.box()
				.height(height)
				.value(function(d) {return d.stats})
				.domain([min, max])
				.boxstats(function(d) {
					var stats = d.stats;
					return {
						min: stats.min,
						max: stats.max,
						n: stats.n,
						whiskers: [stats.w1, stats.w3],
						outliers: stats.outliers,
						quartiles: [stats.q1, stats.q2, stats.q3]
					};
				})
				.showLabels(false);

			var svg = d3.select("#genopheno").append("svg")
				.attr("width", width + margin.left + margin.right)
				.attr("height", height + margin.top + margin.bottom)
				.attr("class", "box")
				.append("g")
				.attr("transform", csstranslate(margin.left, margin.top))

			var x = d3.scale.ordinal()
				.domain(plotdata.map(function(d) {return d.g;}))
				.rangeRoundBands([0, width], 0.7,  0.3);
			var xAxis = d3.svg.axis().scale(x).orient("bottom");

			var y = d3.scale.linear()
				.domain([min, max])
				.range([height+margin.top, 0+margin.top]);
			var yAxis = d3.svg.axis()
				.scale(y)
				.orient("left");

			svg.selectAll(".box")
				.data(plotdata)
				.enter().append("g")
				.attr("transform", function(d, i) { return csstranslate(x(d.g),0); } )
				.call(chart.width(x.rangeBand())); 

			svg.append("g")
				.attr("class", "y axis")
				.call(yAxis)
				.append("text")
				.attr("transform", cssrotate(-90))
				.attr("y", 0-margin.left)
				.attr("x", 0-(height)/2.5)
				.attr("dy", ".71em")
				.style("text-anchor", "end")
				.text("Phenotype");

			svg.append("g")
				.attr("class", "x axis")
				.attr("transform", csstranslate(0, height + margin.top + 10))
				.call(xAxis);
		}
		function draw_percentile_spark(div, infofield) {
			if (!infofield) {return;}
			var percdata = infofield["percentile"];
			if (percdata) {
				var infoval = infofield["value"]
				var i=0;
				while (infoval >= percdata[i] && i < percdata.length) {
					i++;
				}
				var x = d3.scale.linear().domain([0, 100]).range([0,148-2]);
				x.clamp(true);
				var y = d3.scale.linear().domain([0, 1]).range([20-4,0]);

				var graph = div.append("svg")
					.attr("class", "spark-line")
					.attr("width", 150)
					.attr("height", 20)
					.append("g")
					.attr("transform", csstranslate(1,1))
				graph.append("rect")
					.attr("y", y(1))
					.attr("x", x(0))
					.attr("width", 150-2)
					.attr("height", 20-2)
					.attr("fill", "#e0e0e0")
					.append("title").text(with_ordinal_suffix(i) + " Percentile");

				graph.selectAll("line.tick")
					.data([10,20,30,40,50,60,70,80,90])
					.enter().append("line")
					.attr("class", "tick")
					.attr("x1", function(d) {return x(d)})
					.attr("x2", function(d) {return x(d)})
					.attr("y1", function() {return y(.2)})
					.attr("y2", function() {return y(.8)})
				graph.selectAll("line.value")
					.data([i])
					.enter().append("line")
					.attr("class", "value")
					.attr("x1", function(d) {return x(d)})
					.attr("x2", function(d) {return x(d)})
					.attr("y1", function() {return y(0)})
					.attr("y2", function() {return y(1)})
			
			}
		}
		function draw_density_spark(div, infofield) {
			if (!infofield) {return;}
			var dendata = infofield["density"];
			if (dendata) {
				var xv = dendata.x;
				var hv = dendata.heights;
				var graph = div.append("svg")
					.attr("class", "spark-line")
					.attr("width", 150)
					.attr("height", 20)
					.append("g")
					.attr("transform", csstranslate(1,1));
				var x = d3.scale.linear().domain([0, xv.length]).range([0,150-2])
				var y = d3.scale.linear().domain(d3.extent(hv)).range([20-2,0])
				var curve = d3.svg.area()
					.x(function(d,i) {
						return x(i);
					})
					.y1(function(d) {
						return y(d);
					})
					.y0(function() {
						return y(0);
					});
				graph.append("path").attr("d", curve(hv));
				var infoval = infofield["value"]
				if (infoval) {
					var x2 = d3.scale.linear().domain(d3.extent(xv)).range([0,150-2])
					graph.append("line")
						.attr("class", "value")
						.attr("x1", function(d,i) {return x2(infoval)})
						.attr("x2", function(d,i) {return x2(infoval)})
						.attr("y1", function() {return y(0)})
						.attr("y2", function() {return y(y.domain()[1])})
				}
			}
		}
		function draw_summary_info_table(place, info) {
			var order = info[".fieldorder"];
			var tabledata = $.map(order, function(val) {
				if (info.hasOwnProperty(val) & val!="ANN") {
					var x = info[val];
					x["field"] = val;
					return x;
				} else {
					return null;
				}
			});
			var table = place.append("table");
			var header = table.append("thead").append("tr");
			header.append("th").text("Field");
			header.append("th").text("Value");
			header.append("th").text("Percentile");
			var tr = table.selectAll("tr")
				.data(tabledata).enter()
				.append("tr");
			tr.append("td").append("abbr")
				.attr("title", function(d) {return d.desc})
				.text(function(d) {return d.field});
			tr.append("td").text(function(d) {
				return d.value;
			});
			tr.append("td").each(function(d) {
				var me = d3.select(this)
				me.call(draw_percentile_spark, d);
			});
		}
		function draw_summary_table(data) {
			var div = d3.select("#variantinfo");
			var cols = ["CHROM","POS","REF","ALT","FILTER","QUAL","INFO"];
			var tabledata = $.map(cols, function(key) {
				if (data.header.hasOwnProperty(key)) {
					return {key: key, val: data.header[key]};
				} else {
					return null;
				}
			});
			div.append("h3").text("Variant Statistics");
			var table = div.append("table");

			var tr = table.selectAll("tr")
				.data(tabledata).enter()
				.append("tr")
			tr.append("td").text(function(d) {return d.key});
			tr.append("td").each(function(d) {
				var td = d3.select(this)
				if (d.key == "INFO") {
					draw_summary_info_table(td, d.val);
				} else {
					td.text(d.val);
				}
			}) ;

		}
		function draw_assoc_table(data) {
			var div = d3.select("#associnfo")
			var cols = data.header.variant_columns;
			var tabledata = $.map(cols, function(key) {
				return {key: key, val:data.data[key][0]};
			})

			div.append("h3").text("Association Statistics");
			var table = div.append("table");

			var tr = table.selectAll("tr")
				.data(tabledata).enter()
				.append("tr")
			tr.append("td").text(function(d) {return d.key});
			tr.append("td").text(function(d) {return d.val});

		}
		$(function() {
			$.getJSON(api_pheno_url, function(data) {
				draw_box_plot(data);
				draw_summary_table(data);
			});
			$.getJSON(api_assoc_url, function(data) {
				draw_assoc_table(data)
			});
		});
	</script>
{% endblock %}
{% block content %}

        {% if job.status == "succeeded" %}
        <div id="genopheno"></div>
        <div id="associnfo"></div>
        <div id="variantinfo"></div>
		{% else %}

		<p>Plots only available for jobs that are successful (Job status: {{ job.status }})</p>

        {% endif %}

{% endblock %}
