{% set backlink = "/jobs/" + job.job_id %}
{% extends "layout.html" %}
{% block header %}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/job_details.css') }}">

	<!--LocusZoom Resources -->
    <link rel="stylesheet" href="//statgen.github.io/locuszoom/versions/0.5.6/locuszoom.css"/>
    <script src="//statgen.github.io/locuszoom/versions/0.7.0/locuszoom.vendor.min.js"></script>
    <script src="//statgen.github.io/locuszoom/versions/0.5.6/locuszoom.app.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/job_locuszoom.js') }}"></script>

	<style>
		#locuszoom svg {
			cursor: default;
		}
		#locuszoom svg .lz-mouse_guide rect {
			display: none;
		}
		.control-buttons {
			text-align: right;
		}
	</style>

	<script type="text/javascript">
		job_id = "{{ job.job_id }}";
		genome_build = "{{ build }}"
		api_url = "{{ url_for("api.get_job_zoom", job_id = job.job_id) }}"
	</script>
{% endblock %}
{% block content %}

        {% if job.status == "succeeded" %}

		<p>Region: {{ region }}</p>
		<div class="control-buttons">
			Move:
			<button type="button" class="btn btn-default pan-left"><span class="glyphicon glyphicon-arrow-left"></span></button>
			<button type="button" class="btn btn-default pan-right"><span class="glyphicon glyphicon-arrow-right"></span></button>
			Zoom:
			<button type="button" class="btn btn-default zoom-in"><span class="glyphicon glyphicon-zoom-in"></span></button>
			<button type="button" class="btn btn-default zoom-out"><span class="glyphicon glyphicon-zoom-out"></span></button>
		</div>

        <div id="locuszoom" data-region="{{ region }}" class="lz-container-responsive">

        </div>
		{% else %}

		<p>Plots only available for jobs that are successful (Job status: {{ job.status }})</p>

        {% endif %}

{% endblock %}
