{% set backlink = "/" %}
{% extends "layout.html" %}
{% block header %}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/job_details.css') }}">

    <link rel="stylesheet" href="//statgen.github.io/locuszoom/versions/0.3.10/locuszoom.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js"></script>

	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/ideogram.js') }}"></script>
	
    <script type="text/javascript" src="{{ url_for('static', filename='js/plot.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/job_details.js') }}"></script>
	<script type="text/javascript">
		job_id = "{{ job.job_id }}"
		job_status = "{{ job.status }}"
		$(document).ready(function() {
			init_job_tabs();
			init_job_cancel_button(job_id);
			if (job_status=="succeeded") {
				init_manhattan(job_id);
				init_qqplot(job_id);
				init_tophits(job_id);
			}
			if (job_status=="started") {
				init_chunk_progress(job_id);
			}
		});
	</script>
	<style>
		svg .variant_points a {cursor: pointer}
	</style>

{% endblock %}
{% block content %}
        <div class="section">
            <div class="section-title">
                <h2>{{ job.name }}</h2>
                {% if job.status == "queued" or job.status == "started" %}
                <button name="cancel_job">Cancel Job</button>
                {% endif %}
            </div>
        </div>

        {% if job.status == "succeeded" %}

        <div class="section">

            <ul class="tabs">
                <li class="active" rel="tab1">Manhattan</li>
                <li rel="tab2">QQPlot</li>
                <li rel="tab3">Top Hits</li>
                <li rel="tab4">Details</li>
            </ul>
            <div class="tab-container">

                <div id="tab1" class="tab-content"> </div>
                <div id="tab2" class="tab-content"> </div>
				<div id="tab3" class="tab-content">
					<table id="tophits" class="display"></table>
				</div>
				<div id="tab4" class="tab-content">
					<table id="job_details_table">
						<tr>
							<th>Job Name</th>
							<td>{{ job.name }}</td>
						</tr>
						<tr>
							<th>Response</th>
							<td>{{ job.details["response"] }}</td>
						</tr>
						<tr>
							<th>Covariates</th>
							<td>{{ ",".join(job.details.get("covariates",[]) + job.details.get("genopheno",[]) ) }}</td>
						</tr>
						<tr>
							<th>Phenotype</th>
							<td>{{ job.details.phenotype.name }}</td>
						</tr>
						<tr>
							<th>Genotype</th>
							<td>{{ job.details.genotype.name }}</td>
						</tr>
						<tr>
							<th>Collaborators</th>
							<td><a href="{{ url_for("get_job_share_page", job_id=job.job_id) }}">{{ job.users  | length}} user(s)</a></td>
						</tr>
						<tr>
							<th>Status</th>
							<td>{{ job.status }}</td>
						</tr>
						{% if job.error_message %}
						<tr>
							<th>Error Message</th>
							<td>{{ job.error_message }}</td>
						</tr>
						{% endif %}
						<tr>
							<th>Date Created</th>
							<td>{{ job.creation_date }}</td>
						</tr>
						<tr>
							<th>Last Updated</th>
							<td>{{ job.modified_date }}</td>
						</tr>
					</table>
				</div>
            </div>
        </div>
        <form class="section" action="/jobs/{{ job.job_id }}/output">
            <button type="submit">Download Output</button>
        </form>
		{% else %}
			<table id="job_details_table">
				<tr>
					<th>Status</th>
					<td>{{ job.status }} ({{ job.modified_date }})</td>
				</tr>
				{% if job.error_message %}
				<tr>
					<th>Error Message</th>
					<td>{{ job.error_message }}</td>
				</tr>
				{% endif %}
				<tr>
					<th>Date Created</th>
					<td>{{ job.creation_date }}</td>
				</tr>
			</table>
			<div id="progress"></div>
        {% endif %}
{% endblock %}
