{% set backlink = url_for("get_pheno_list") %}
{% extends "layout.html" %}
{% block header %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/pheno_details.js') }}"></script>

	<script type="text/javascript">
		pheno_id = "{{ pheno.pheno_id }}"
		pheno_can_edit = {{ pheno.can_edit|default(False)|tojson }}
		pheno_api_url = "{{url_for("get_api_pheno_detail", pheno_id=pheno.pheno_id) }}"
		$(document).ready(function() {
			$(".link-button").click(function() {
				var url = $(this).data("url");
				if (url) {
					document.location = url;
				}
			});
			if (pheno_can_edit) {
				init_editform(pheno_id, pheno_api_url)
			}
		});
	</script>
	<style>
		.label-edit {color: #c4c4c4; font-size:65%; }
		.label-edit:hover {color: black; backgroud-color: #c4c4c4; }
		a.edit-pheno-modal {text-decoration: none; color:inherit; cursor: pointer}
	</style>

{% endblock %}
{% block content %}
        <div class="section">
            <div class="section-title">
                <h2 id="pheno_main_title">{{ pheno.name }}</h2>
            </div>
        </div>

        <div class="section">
			<table id="pheno_details_table">
				<tr>
					<th>Original File Name</th>
					<td>{{ pheno.orig_file_name }}</td>
				</tr>
				<tr>
					<th>MD5 Sum</th>
					<td>{{ pheno.md5sum }}</td>
				</tr>
				<tr>
					<th>Date Uploaded</th>
					<td>{{ pheno.creation_date }}</td>
				</tr>
			</table>
        </div>

        <div class="section">
			<button type="button" class="btn btn-success link-button" data-url="{{url_for("get_model_build", pheno=pheno.pheno_id)}}">Build new model</button>
        </div>

        <div class="section">
            <div class="section-title">
                <h3>Covariates</h3>
            </div>
        </div>

        <div class="section">
			<table id="covariate_details_table">
				<tr>
					<th>Column Name</th>
					<th>Raw Column Type</th>
					<th>Column Class</th>
				</tr>
				{% for col in pheno.meta.columns %} 
				<tr>
					<td>{{ col.name}}</td>
					<td>{{ col.type }}</td>
					<td>{{ col.class }}</td>
				</tr>
				{% endfor %}
			</table>
        </div>


		{% if pheno.jobs %}
        <div class="section">
            <div class="section-title">
                <h3>Jobs</h3>
            </div>
        </div>

        <div class="section">
			<table id="job_details_table">
				<tr>
					<th>Job Name</th>
					<th>Creation Date</th>
					<th>Status</th>
					<th>Job</th>
				</tr>
				{% for job in pheno.jobs %} 
				<tr>
					<td>{{ job.name}}</td>
					<td>{{ job.creation_date }}</td>
					<td>{{ job.status }}</td>
					<td><a href="{{ url_for("get_job", job_id=job.id) }}">View</a></td>
				</tr>
				{% endfor %}
			</table>
        </div>
		{% endif %}
		<div class="modal fade" id="editModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Edit Phenotype Details</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizonal">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="pheno_name">Name</label>
							<div class="col-sm-10"><input type="text" class="form-control" id="pheno_name"/></div>
						</div>
						&nbsp;
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-success edit-pheno-save" >Save</button>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
