{% set backlink = url_for("get_pheno_list") %}
{% extends "layout.html" %}
{% block header %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">
		pheno_id = "{{ pheno.pheno_id }}"
		$(document).ready(function() {
			//placeholder
		});
	</script>
	<style>
		svg .variant_points a {cursor: pointer}
	</style>

{% endblock %}
{% block content %}
        <div class="section">
            <div class="section-title">
                <h2>{{ pheno.name }}</h2>
            </div>
        </div>

        <div class="section">
			<table id="pheno_details_table">
				<tr>
					<th>Phenotype Name</th>
					<td>{{ pheno.name }}</td>
				</tr>
				<tr>
					<th>MD5 Sum</th>
					<td>{{ pheno.md5sum }}</td>
				</tr>
				<tr>
					<th>Date Uploaded</th>
					<td>{{ pheno.creation_date }}</td>
				</tr>
			</table>
        </div>

        <div class="section">
            <div class="section-title">
                <h3>Covariates</h3>
            </div>
        </div>

        <div class="section">
			<table id="covariate_details_table">
				<tr>
					<th>Column Name</th>
					<th>Raw Column Type</th>
					<th>Column Class</th>
				</tr>
				{% for col in pheno.meta.columns %} 
				<tr>
					<td>{{ col.name}}</td>
					<td>{{ col.type }}</td>
					<td>{{ col.class }}</td>
				</tr>
				{% endfor %}
			</table>
        </div>


		{% if pheno.jobs %}
        <div class="section">
            <div class="section-title">
                <h3>Jobs</h3>
            </div>
        </div>

        <div class="section">
			<table id="job_details_table">
				<tr>
					<th>Job Name</th>
					<th>Creation Date</th>
					<th>Status</th>
					<th>Job</th>
				</tr>
				{% for job in pheno.jobs %} 
				<tr>
					<td>{{ job.name}}</td>
					<td>{{ job.creation_date }}</td>
					<td>{{ job.status }}</td>
					<td><a href="{{ url_for("get_job", job_id=job.id) }}">View</a></td>
				</tr>
				{% endfor %}
			</table>
        </div>
		{% endif %}
{% endblock %}
