<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GASP | Dashboard</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/sign_in.css">
</head>
<body>
<div id="header">
    <div>GASP</div>
</div>
<div id="content">

    <div class="hflex" style="height: 500px;">
        <form class="vflex" style="width: 300px; height: 100px; border: 1px solid #333333; border-radius: 4px;">
            <button name="authorize" type="submit">Sign In With Google</button>
        </form>
    </div>

</div>

<div id="footer">

</div>
</body>
</html>