
#job_details_table th, #job_status_history_table th
{
    text-align: right;
    width: 20%;
}

#locuszoom
{
    text-align: center;
}

ul.tabs
{
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 31px;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    width: 100%;
    border-radius: 4px 0px 0px 0px;
}
ul.tabs li
{
    float: left;
    margin: 0px;
    cursor: pointer;
    padding: 0px 20px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #999999;
    border-left: none;
    font-weight: normal;
    background: #EEEEEE;
    overflow: hidden;
    position: relative;
    border-radius: 4px 4px 0px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul.tabs li:hover
{
    background: #CCCCCC;
}
ul.tabs li.active
{
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.tab-container
{
    border: 0px solid #999999;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    min-height: 700px;
    background: #FFFFFF;
    position: relative;
}
.tab-content
{
    padding: 20px;
    font-size: 1.2em;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

#progress svg {
	display: block;
	margin: 0 auto;
}

.queue-info {
	padding: 20px;
	margin: 20px auto;
}
