
html,body
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

h1
{
    font-weight: normal;
}

h2
{
    margin: 0px;
    font-weight: normal;
}

button
{
    padding: 6px 12px;
    background: #333333;
    color: #DDDDDD;
    border: 1px solid #333333;
    outline: none;
    border-radius: 3px;
}

button:hover
{
    color: #FFFFFF;
}

button:active
{
    border-color: #FFFFFF;
}

progress
{
    width: 100%;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.overlay > form
{
    width:500px;
    height:300px;
    background: #EEEEEE;
    border: 1px solid #333333;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-150px; /* negative half the size of height */
    margin-left:-250px; /* negative half the size of width */
}

.overlay > form > input
{
    margin: 10px;
}

#content
{
    margin: 0px 50px;
}

#content > *
{
    width: 100%;
}

#header
{
    background: #4169E1;
    color: #EEEEEE;
}

#header > div
{
    font-size: 32px;
    padding: 10px 30px;
}

#content
{
    min-height: 100%;
}

#footer
{
    position:fixed;
    bottom:0;
    width: 100%;
    height: 15px;
    background: #4169E1;
    color: #EEEEEE;
}

.section
{
    border: 1px solid #666666;
    border-radius: 3px;
    padding: 0px;
    margin: 30px 0px;
}

.section button
{
    margin: 6px;
}

.section-title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #666666;
    padding: 4px 10px;
    color: #CCCCCC;
    min-height: 40px;
}

.section-title button:active
{
    border-color: #666666;
}

.section-row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
}

form
{
    margin: 25px;
}